GEM_HOME=/usr/local/bundle
RUBYLIB=/usr/local/lib/ruby/2.2.0
ROOTDIR=/root/4min-faith
1 15 * * * /bin/bash -lc "$ROOTDIR/src/4min-faith-0001.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 7 15 * * /bin/bash -lc "$ROOTDIR/src/4min-faith-1601-15last.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 7 28-31 * * /usr/bin/test `date -d tomorrow +\%d` -eq 1 && /bin/bash -lc "$ROOTDIR/4min-faith-1601-15last.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 6 4 * * /bin/bash -lc "$ROOTDIR/src/4min-faith-1501-0419.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 6 19 * * /bin/bash -lc "$ROOTDIR/src/4min-faith-1501-0419.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 7 5 * * /bin/bash -lc "$ROOTDIR/src/4min-faith-1601-0520.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
1 7 20 * * /bin/bash -lc "$ROOTDIR/src/4min-faith-1601-0520.rb" >> /tmp/cronlog.log 2>> /tmp/cronlog.log
2 */4 * * *  /bin/bash -lc "(cd $ROOTDIR && rake)" >>/tmp/cronlog.log 2>> /tmp/cronlog.log
